<div>
  <div class = "date">
    At <%= c.date_time %>
  <%= link_to(c.user.first_name + " "  +c.user.last_name, '/pics/user/' + c.user.id.to_s )%> Says:
  </div>
  <p class = "comment">
    <%= c.comment %>
  </p>
</div>
