div.tab
{
	width:100%;
	font-family: Tahoma;
	font-size: 13px;
}
div.tab a
{
	color: black;
	text-decoration:   none;
	padding: 4px 9px 7px 9px;
	background-image: url(left.gif), url(right.gif), url(mid.gif);
	background-repeat: no-repeat, no-repeat, repeat;
	background-position: 0px 0px, 100% 0%, 0% 0%;
}
div.tab a:hover
{
	color: #cc6600;
}

div.tab a:active
{
	color: red;
	font-weight: bold;
}

hr.line
{
	border: 1px #cccccc solid;
	vertical-align: top;
}

