#boxing
{
}

table.tab
{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-family: Tahoma;
	font-size: 13px;
}

table.tab tr.head
{
    color: white;
	text-align: left;
    background-color: #687291;    
}

table.tab tr.double
{
    background-color: #eeeff2;   
	font-size: 13px;
}

table.tab tr.single
{
    background-color: #dfe1e7;    
	font-size: 13px;
}
table.tab tr.total
{
	display: none;
}

table.tab th, td 
{ 
	border-style: none;
	border-bottom:1px solid white;
	border-left:	0px;
	border-right:	0px;
}

table.tab td.mm
{
	text-align: center;
}

